0012070:
REPORT sync-collection results in php out of memory error

**Reported by mschwerin on 27 Jul 2016 16:00**


thunderbird + sogo connector execute a REPORT request for a sync-collection. This request fails with an out of memory error if the container_content table has many entries (in my case round about 800MiB).

The problem seems to be that if the sync-token is empty a value of zero is used when fetching the history in Tinebase_Container-&gt;getContentHistory. This in turn will return all entries of container_content corresponding to this container.

I&#039;ve tested this against 2015.07.7 but as the code has not changed this should this be valid for the current version.

**Steps to reproduce:** Create a container_content table with mannnnny entries for the calendar.

Execute the following:

curl --request REPORT --verbose --user &quot;user:pass&quot; --header &quot;Content-Type: text/xml; charset=utf-8&quot; --data &#039;&lt;sync-collection xmlns=&quot;DAV:&quot;&gt;&lt;sync-token/&gt;&lt;sync-level&gt;1&lt;/sync-level&gt;&lt;prop&gt;&lt;getcontenttype/&gt;&lt;getetag/&gt;&lt;/prop&gt;&lt;/sync-collection&gt;&#039; calendar-url


Related to #5854

**Comment posted by mschwerin on 27 Jul 2016 16:02**

Wouldn&#039;t searching for the latest change of each item be enough using something like a GROUP BY? This would reduce the result set quite a lot in my case.

**Comment posted by ingoratsdorf on 27 Jul 2016 22:18**

Right, and this s where my question comes in regarding the time-range filters that were introduced for exactly that purpose. When you do the above for 10 years of calendar data... OMG!

See
#0011832: CalDAV returns all events and ignores range filters plus broke proper sync
which is a regression to
#0009206: CalDAV Performance issues for many events

So apparently time-range filters do not work with sync-collections. Purposely as I can see in the code.

Also leaves me with the question as to why I am getting 404 NOT FOUND errors when I am querying etags from tine20: (end snip) Why can tine20 not find his own events?


-&lt;d:response&gt;

&lt;d:href&gt;/calendars/c21349a5775f4dd6e603214dc0ad83ffc37729b6/118/9ff57723-1b36-4217-bd08-2beb7e7066b0.ics&lt;/d:href&gt;


-&lt;d:propstat&gt;


-&lt;d:prop&gt;

&lt;d:getcontenttype&gt;text/calendar&lt;/d:getcontenttype&gt;

&lt;d:getetag&gt;&quot;14ab071bf0a76c35a36b51f0b5a0f54405731bb2&quot;&lt;/d:getetag&gt;

&lt;/d:prop&gt;

&lt;d:status&gt;HTTP/1.1 200 OK&lt;/d:status&gt;

&lt;/d:propstat&gt;

&lt;/d:response&gt;


-&lt;d:response&gt;

&lt;d:href&gt;calendars/c21349a5775f4dd6e603214dc0ad83ffc37729b6/118/4bb0caf56b1aea8fe22713cfc205ff4eaedf2293.ics&lt;/d:href&gt;

&lt;d:status&gt;HTTP/1.1 404 Not Found&lt;/d:status&gt;

&lt;/d:response&gt;


-&lt;d:response&gt;

&lt;d:href&gt;calendars/c21349a5775f4dd6e603214dc0ad83ffc37729b6/118/0cd9adc2-e5f8-4fe7-838c-e28252d4bdd5.ics&lt;/d:href&gt;

&lt;d:status&gt;HTTP/1.1 404 Not Found&lt;/d:status&gt;

&lt;/d:response&gt;

&lt;d:sync-token&gt;http://tine20.net/ns/sync/4207&lt;/d:sync-token&gt;

&lt;/d:multistatus&gt;

**Comment posted by ingoratsdorf on 28 Jul 2016 01:37**

The issue with the sync-tokens is that they are currently handled completely outside of carddav or caldav, but within tinebase:

Tinerbase::Server initialises plugins.
One of them is Tinebase\WebDav\Plugin\SyncToken.php
which calls $node-&gt;getChanges($syncToken);
$node is a container and is in Calendar\Frontend\WebDAV\Container.php but this only calls parent::get Changes to get changes since last syncToken, thus circumvents any time-range filters. The parent class is Tinebase_WebDav_Container_Abstract, so back to base.

And that calls Tinebase_Container::getInstance()-&gt;getContentHistory to get a list of changes since the last syncToken.

So, one could introduce a &lt;D:limit&gt; filter, however how many clients are using that? Currently tine20 does not support a limit filter.

From what I read, getting the complete sync-collection is a reasonably dumb thing to do by a client, although this is what is documented everywhere. Having several years of calendar entries can generate several thousand entries. The time my server needs for the initial sync for my calendar is about 6 seconds at 100% with 4 cores. This should not happen every day, still...

A hint can be found in the RFC6578:
   Typically, the first time a client connects to the server it will
   need to be informed of the entire state of the collection (i.e., a
   full list of all member URLs that are currently in the collection).
   That is done by the client sending an empty token value to the
   server.  This indicates to the server that a full listing is
   required.

   As an alternative, the client might choose to do its first
   synchronization using some other mechanism on the collection (e.g.,
   some other form of batch resource information retrieval such as
   PROPFIND, SEARCH [RFC5323], or specialized REPORTs such as those
   defined in CalDAV [RFC4791] and CardDAV [RFC6352]) and ask for the
   DAV:sync-token property to be returned.  This property (defined in
   Section 4) contains the same token that can be used later to issue a
   DAV:sync-collection report.

So a clever thing for a client to do would be to firstly request a sync-token, and only that, then perform a normal CALENDAR-MULTIGET with a time-range filter set (ie 2 years or 2 months, whatever) and then use the sync-token to get updates.

RECOMMENDATION:
The cheating way would be that Tine20 applies the same limits to an EMPTY FIRST syncToken as for a standard report. This could be implemented in Calendar\Frontend\WebDAV\Container.php and apply time-range filters if $syncToken = 0 in getChanges().

Trouble is that this currently only calls the parent which calls the ContainerContentFilter that only fitlers for creations and updates etc, but not the actual events, so time-range based filters cannot be applied.

So where from here?

**Comment posted by pschuele on 19 Aug 2016 12:29**

will bring this up in one of our next teammeetings (after everybody returned from vacation).